<link rel="stylesheet" href="/css/footer.css">
<footer id="footer-container">
    <div id="visitLink-container" >
        <div>
           <ul>
               <li>
                  Home
               </li>
               <li>
                   About
               </li>
               <li>
                   Profile 
               </li>
           </ul>
        </div>
        <div id="copyright-design">
            <h4>Developed by: Krishnanshu Mishra</h4>
            <p>Copyright &#169 2020,India - All right reserved</p>
       </div>  
         <div>
            <ul>
                <li>
                   Home
                </li>
                <li>
                    About
                </li>
                <li>
                    Profile 
                </li>
            </ul>
         </div>
    </div> 
</footer>