body{
    margin: 0;
    padding: 0;
    background-color: white;
    #home-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
       
        #other-links{
           width: 20%;
           border-right: 1px solid black;
           padding: 10px;
        }
        #feed-post{
            width: 60%;
            padding: 10px;
        }
        #user-friends{
            width: 20%;
            padding: 10px;
            border-left: 1px solid black;
        }
    }
}