<div>
    
    <p>
      Hii <%= comment.user.name %>! 
      <br>
      <br>
      <p> You published this comment: <%= comment.content %>  </p>
      <br>
      <br>
      <p> Thanks  </p>
    </p>
</div>